body {
  font-family: Arial, sans-serif;
  color: #000000;
  margin: 0;
  /* padding: 15px; */
}

.container {
  background-color: #87CEEB;
  padding: 15px;
  height: 400px;
  border-radius: 15px;
}

.container h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.songList {
  margin-top: 10px;
  list-style: none;
  background-color: #87CEEB;
  box-shadow: inset 0 0 10px #000000;
  height: 300px;
}

ul {
  padding-top: 4px;
  padding-left: 0;
  max-height: 296px;
  overflow-y: auto;
}

ul::-webkit-scrollbar {
    display: none;
}

li {
  margin: 0 5px;
}

ul li {
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

.controls {
  margin-top: 10px;
  background-color: #87CEEB;
  height: 100px;
  padding: 15px;
  border-radius: 15px;
}

#query {
  width: 79%;
  padding: 5px;
  margin-right: 5px;
  border-radius: 3px;
  border: none;
}

img {
  /* filter: invert(1); */
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 25px;
  cursor: pointer;
}

.playpause {
  left: 50%;
  transform: translateX(-50%);
}

.back {
  left: 100px;
}

.next {
  right: 100px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  width: 90%;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  overflow: hidden;
}

.title span {
  display: inline-block;
  white-space: nowrap;
}

.title.scroll span {
  animation: scroll-text 10s linear infinite;
}

@keyframes scroll-text {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

#trackbar {
  width: 100%;
  margin-top: 30px;
}

.version {
  position: absolute;
  font-size: 12px;
  bottom: -10px;
  right: 10px;
}